<html>
<head>
    <style>

        body {
            margin:0;
            background-image: url("https://cdn.hipwallpaper.com/i/1/9/KLmBD4.jpg");
            opacity:1;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
        html{
            position: relative;
            min-width: 1024px;
            min-height: 768px;
            height: 100%;
        }
        #white-background{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #fefefe;
            opacity: 0.7;
            z-index: 9999;
        }

        #dlgbox{
            {{! The dialog box appers after when try to add something to the cart!}}
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 20px;
            background-color: transparent;
        }

        #dlg-header{
            background-color: #003366;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0px 10px;
        }

        #dlg-body{
            background-color: #6897bb;
            color: black;
            font-size: 14px;
            padding: 10px;
            margin: 0px 10px 0px 10px;
        }

        #dlg-footer{
            background-color: #3b5998;
            text-align: right;
            padding: 10px;
            margin: 0px 10px 10px 10px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 42px;
            background-color: black;
            color: whitesmoke;
            text-align: center;
        }

    </style>
</head>
{{# each products }}
    <div class="container">
        <div class="row"><br><br><br><br>
            <div class="col-xs-3 item-photo">
                <img style="width:250px;" src="{{this.ImageURL}}">
                <h3 style="align-items: center; padding: 0px"><b>{{this.Title}}</b></h3><br>
                <h3 style="align-items: center; padding: 0px"><b>Price: ${{this.Price}}.00</b></h3>
                <p style="padding: -40px;">
                    <large>

                    </large>
                </p>
            </div>
            <div class="col-xs-6" style="text-align: justify">
                <html>
                <header>
                  <h1 style=align="center"><b>Product Description</b></h1>
                </header>
                <br>
                <br>
                <body>
                  <span class="more">
                    <h3><b>Brand:</b> {{this.Brand}}</h3>
                    <h3><b>Size:</b> {{this.Size}}</h3>
                    <h3><b>Style:</b> {{this.Style}}<h3>
                    <h3><b>Weight:</b> {{this.Weight}}</h3>
                    <h3><b>Dimension:</b> {{this.Dimension}}</h3>
                    <h3><b>Model No:</b> {{this.Modelnumber}}</h3>
                    <h3><b>Seller:</b> {{this.seller}}</h3>
                    <h3><b>Sold By:</b> {{this.SoldBy}}</h3>
                  </span>

                </body>
                </html>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-xs-3" style="border:0px solid gray">


        <div class="section" style="padding-bottom:20px;">


                <body>
                <div id="white-background" line-height: 2.5;>
                </div>
                <div id="dlgbox">
                    <div id="dlg-header" >Success!!</div>
                    <div id="dlg-body">Item Added to cart!</div>
                    <div id="dlg-footer">
                        <button type="button" class="btn btn-dark" > OK! </button>
                    </div>
                </div>

                <div class="section" style="padding-right:-40px;">
                <a href="/add-to-cart/{{this._id}}" style="font-size: 18px" class="btn btn-success pull-left" role="button" onclick="showDialog()">Move to cart!</a>
                </div>
                <script>
                    function dlgLogin(){
                        var whitebg = document.getElementById("white-background");
                        var dlg = document.getElementById("dlgbox");
                        whitebg.style.display = "none";
                        dlg.style.display = "none";
                    }
                    function showDialog(){
                        var whitebg = document.getElementById("white-background");
                        var dlg = document.getElementById("dlgbox");
                        whitebg.style.display = "block";
                        dlg.style.display = "block";
                        var winWidth = window.innerWidth;
                        var winHeight = window.innerHeight;
                        dlg.style.left = (winWidth/2) - 480/2 + "px";
                        dlg.style.top = "150px";
                    }
                </script>
                </body>



            </div>
        </div>
    </div>
{{/each}}
</html>
<div class="footer" style="font-size:180%;" style="padding-top: 10px;">
  Built by Yashjeet Singh, Poonam Krishna and Shreyas Dalvi!
  </div>
