<html>
<head>
    <style>

    body {
        margin:0;
        background-image: url("https://cdn.hipwallpaper.com/i/1/9/KLmBD4.jpg");
        opacity:1;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
        html{
            position: relative;
            min-width: 1024px;
            min-height: 768px;
            height: 100%;
        }
        #white-background{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #fefefe;
            opacity: 0.7;
            z-index: 9999;
        }

        #dlgbox{
            {{! The dialog box appers after when try to add something to the cart!}}
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 20px;
            background-color: transparent;
        }

        #dlg-header{
            background-color: #7f7f7f;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0px 10px;
        }

        #dlg-body{
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 10px;
            margin: 0px 10px 0px 10px;
        }

        #dlg-footer{
            background-color: #f2f2f2;
            text-align: right;
            padding: 10px;
            margin: 0px 10px 10px 10px;
        }


        .footer {
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 42px;
            background-color: black;
            color: whitesmoke;
            text-align: center;
        }

    </style>
</head>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<br>
<br>
<br>

<h3><b>Here you go!</b></h3>
{{# each products }}
    <div class="row";>
        {{# each this }}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="/loadProduct?_id={{this._id}}">
                    <img src="{{ this.ImageURL }}" alt="..." class="img-responsive">
                        <h3 style="font-size: 20px">{{ this.Title }}</h3>
                    </a>
                    <div class="caption">

                        <div class="clearfix">
                            <div class="price pull-left">Price: ${{ this.Price }}</div>
                            <body>
                            <div id="white-background">
                            </div>
                            <div id="dlgbox">
                                <div id="dlg-header">Item added to cart!</div>
                                <div id="dlg-body">Uh-oh! We hit a snag!</div>
                                <div id="dlg-footer">
                                      <button type="button" class="btn btn-dark" onclick="dlgLogin()"> Back</button>
                                </div>
                            </div>

                            <a class="btn btn-outline-success pull-right" role="button" onclick="showDialog()">Move to cart!  </a>
                            <script>
                                function dlgLogin(){
                                    var whitebg = document.getElementById("white-background");
                                    var dlg = document.getElementById("dlgbox");
                                    whitebg.style.display = "none";
                                    dlg.style.display = "none";
                                }

                                function showDialog(){
                                    var whitebg = document.getElementById("white-background");
                                    var dlg = document.getElementById("dlgbox");
                                    whitebg.style.display = "block";
                                    dlg.style.display = "block";

                                    var winWidth = window.innerWidth;
                                    var winHeight = window.innerHeight;

                                    dlg.style.left = (winWidth/2) - 480/2 + "px";
                                    dlg.style.top = "150px";
                                }
                            </script>

                            </body>

                            </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}

</html>
<div class="footer" style="padding-top: 10px;">
  Built by Yashjeet Singh, Poonam Krishna, Shreyas Dalvi!
  </div>
