<!------ Include the above in your HEAD tag ---------->

<html>
<head>
    <style>

        body {
            margin:0;
            background-image: url("https://cdn.hipwallpaper.com/i/1/9/KLmBD4.jpg");
            opacity:1;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
        html{
            position: relative;
            min-width: 1024px;
            min-height: 768px;
            height: 100%;
        }
        #white-background{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #fefefe;
            opacity: 0.7;
            z-index: 9999;
        }

        #dlgbox{
            {{! The dialog box appers after when try to add something to the cart!}}
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 20px;
            background-color: transparent;
        }

        #dlg-header{
            background-color: #003366;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0px 10px;
        }

        #dlg-body{
            background-color: #6897bb;
            color: black;
            font-size: 14px;
            padding: 10px;
            margin: 0px 10px 0px 10px;
        }

        #dlg-footer{
            background-color: #3b5998;
            text-align: right;
            padding: 10px;
            margin: 0px 10px 10px 10px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 42px;
            background-color: black;
            color: whitesmoke;
            text-align: center;
        }

    </style>

    <header>
  <h1 style=align="center"><b>My Cart!</b></h1>
<h2 style=align="justify"><b>Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;Price</b></h2>
</header>
<br><br><br><br>
<div class="shopping-cart">


{{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                {{# each products }}
                <div class="product">
                  <div class="product-details">

                      <div class="product-title"><h2>{{ this.item.Title }}</h2>
                    </div>

                  </div>
                <div class="product-price"><h2>${{ this.Price }}.00<h2></div>
                  <div class="product-quantity"><h2>{{ this.qty }}<h2></div>
                  </div>
                {{/each}}
        </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <div class="product-line-price"><b><h2>Total:${{ totalPrice }}.00</b></h2></div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a class="checkout" type="button" href="/checkout"><h3>Checkout</h3></a>
        </div>
<br><br><br>
    </div>
    {{ else }}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
              <br>
              <br>
                <p><h2>Uh-oh! No items in found in the cart!<br>
                Please add some items to view the cart!</h2></p>
            </div>
        </div>
    {{/if}}
    <br>
    <br>
    <br>
    <br>
    </html>
    <div class="footer" style="font-size:180%;" style="padding-top: 10px;">
      Built by Yashjeet Singh, Poonam Krishna and Shreyas Dalvi!
      </div>
